.calculator {
  border: 1px solid gray;
  width: 260px;
  font-family:"HelveticaNeue-Light";
}

.display {
  border: 3px inset black;
  width: 250px;
  height: 50px;
  background-color: black;
  font-size: 38px;
  color: white;
  text-align: right;
  vertical-align: bottom;
  padding-top:20px;
  overflow: hidden;
}

.keyboard {
  /*padding: 10px;*/
}

.keyboard .button {
  font-size: 18px;s
  border-right:none !important;
  border-bottom:1px solid black;
  float: left;
  background-color: #D8D9DB;
  width: 74px;
  height: 74px;
}
